#result {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
.actor {
    border: 1px solid red;
    width: 300px;
    margin-bottom: 10px;
}
.actor:hover {
    background-color: black;
    color: wheat;
}
.actor-image {
    width: 100%;
    height: 200px;
}
.actor-image:hover {
    border: 2px solid;
}
.title {
    color: green;
}